.header img {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 4rem;
}

.title {
    background-color: antiquewhite;
}
.title p{
    padding: 1rem 1.5rem 1rem 4rem;
    margin-top: 0rem;
    font-weight: 500;
}