.header img {
    margin-top: 25px;
    margin-bottom: 15px;
    margin-left: 20px;
}

.title {
    background-color: antiquewhite;
}
.title p{
    padding: 10px 15px 10px 15px;
    font-weight: 500;
}